---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="でんでんの飼育小屋">
  <h1>ABOUT</h1>
  
  <body>

    <img class="denden-icon" alt="でんでんアイコン" src="\public\images\でんでん背景あり縮小.png"> 

  </body>

</MainLayout>